Flask==2.3.2
Flask-Cors==3.0.10
Flask-SocketIO==5.3.4
eventlet==0.25.1
gunicorn==20.1.0
boto3==1.28.0
firebase-admin==6.1.0
google-generativeai
openpyxl==3.1.2
Pillow==9.5.0
numpy==1.24.3
opencv-python==4.7.0.72
python-dotenv==1.0.0