Flask==2.2.5
Flask-Login==0.6.2
boto3==1.28.2
opencv-python==4.8.0.74
Pillow==10.0.0
numpy==1.24.3
firebase-admin==6.0.1
openpyxl==3.1.2
requests==2.31.0
google-generativeai
Werkzeug==2.2.5
Flask-WTF==1.1.1